
<div class="container my-3 py-1">
    <div class="row justify-content-center">
      {{!-- <div class="col-lg-8"> --}}
        {{!-- <div class="bg-white p-4"> --}}
          <h1 class="text-center underline">Welcome back {{username}}</h1>
      {{!-- </div> --}}
    {{!-- </div> --}}
  </div>
</div>
<div>
<h2 class="text-center">My Events</h2>
{{#each activities as |activity| }}
  <div class="container my-3 py-1">
      <div class="row justify-content-center">
        <div class="col-lg-8 bucksCard banner">
          <h2 class="textPadding"><a class="plainText" href="/updateEvent/{{activity.id}}">{{activity.activity_title}}</a></h2>
          <div class="bg-light p-4 blackText">
            <p>{{activity.activity_description}}</p>
            <p><b>Date and Time: </b>{{activity.activity_date}}</p>
            <p><b>Location: </b>{{activity.activity_location}}</p>
          </div>
        </div>
     </div>
  </div>
{{/each}}
</div>

<div class="container my-3 py-1">
    <div class="row justify-content-center">
          <h3 class="text-center text-primary"><a class="newEventButton" href="/newActivity">Create New Event</a></h3>
    </div>
</div>



