<div class="container my-5 py-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="bg-light p-4">
        <h2>Edit Event</h2>
        <form id="eventForm" data-id="{{activity.id}}">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{activity.activity_title}}">
          </div>
            <div class="mb-3">
              <label for="category" class="form-label">Category</label>
              <select class="form-select"  id="category" name="category">
                <option value="{{activity.activity_category}}">{{activity.activity_category}}</option>
                <option value="Education">Education</option>
                <option value="Sports">Sports</option>
                <option value="Arts and Crafts">Arts and Crafts</option>
                <option value="Social">Social</option>
                <option value="Music">Music</option>
                <option value="Outdoors">Outdoors</option>
                <option value="Tech">Tech</option>
                <option value="Trivia">Trivia</option>
                <option value="Pets">Pets</option>
                <option value="Adventure">Adventure</option>
                <option value="Entertainment">Entertainment</option>
              </select>
            </div>
          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date" value="{{date}}">
          </div>  
          <div class="mb-3">
            <label for="time" class="form-label">Time (24-hour format)</label>
            <input type="text" class="form-control" id="time" name="time" pattern="^(?:2[0-3]|[01][0-9]):[0-5][0-9]$" value="{{time}}">
            <small class="text-muted">Example: 18:30 for 6:30pm</small>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="location" value="{{activity.activity_location}}">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="5">{{activity.activity_description}}</textarea>
          </div>
          <button type="button" id="updateBtn" class="btn btn-primary">Update</button>
          <button type="button" id="deleteBtn" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/editEvent.js"></script>


